/* line 1, ../sass/main.scss */
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #201b2d;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* line 10, ../sass/main.scss */
div, p, input, button, form, span, a, ul, li {
  box-sizing: border-box;
}

/* line 13, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* line 19, ../sass/main.scss */
.conteiner {
  width: 1070px;
  margin: 0 auto;
}

/* line 23, ../sass/main.scss */
.header {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: space-between;
  height: 100vh;
  background-image: url("../img/bg.png");
  background-color: #000000b0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
/* line 34, ../sass/main.scss */
.header .conteiner__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
/* line 39, ../sass/main.scss */
.header .conteiner__top .header__logo {
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}
/* line 46, ../sass/main.scss */
.header .conteiner__top .header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 511px;
}
/* line 51, ../sass/main.scss */
.header .conteiner__top .header__menu .menu__links {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #ffffff;
  position: relative;
}
/* line 58, ../sass/main.scss */
.header .conteiner__top .header__menu .menu__links:after {
  content: "";
  display: none;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 1;
}
/* line 69, ../sass/main.scss */
.header .conteiner__top .header__menu .menu__links:hover:after {
  display: block;
}
/* line 76, ../sass/main.scss */
.header .conteiner__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 264px;
}
/* line 82, ../sass/main.scss */
.header .conteiner__intro .intro__title {
  font-size: 48px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
/* line 89, ../sass/main.scss */
.header .conteiner__intro .intro__description {
  margin-top: 30px;
  font-size: 20px;
  text-transform: none;
  color: #ffffff;
}
/* line 95, ../sass/main.scss */
.header .conteiner__intro .intro__arrow {
  cursor: pointer;
  margin-bottom: 25px;
  /*margin-top: 390px;*/
  width: 70px;
  height: 70px;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
/* line 108, ../sass/main.scss */
.header .conteiner__intro .intro__arrow:hover {
  background: #ffffff38;
}
/* line 111, ../sass/main.scss */
.header .conteiner__intro .intro__arrow .fas {
  color: white;
  font-weight: 600;
  font-size: 33px;
}
